body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
}

.table {
    border-radius: 5px;
    overflow: hidden;
    border: 15px solid white;
    width: 100%;
}

.table,
.table-bordered th,
.table-bordered td {
    border: 3px solid white;
    /* Minden cella vastagabb fehér szegélyt kap */
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.col-12 {
    max-width: 100%;
}


@media (max-width: 768px) {

    .table,
    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
        width: 100%;
        border: none;
    }

    .table thead tr {
        display: none;
        /* Fejléc elrejtése mobilon */
    }

    .table th {
        border: 2px solid white;
    }

    .table tr {
        margin-bottom: 15px;
        padding: 10px;
        background: #f8f9fa;
    }

    .table td {
        text-align: left;
        padding: 10px;
        position: relative;
        background-color: #f8f9fa;
        border: 2px solid white;
    }

    .table td::before {
        /* content: attr(data-label);*/
        font-weight: bold;
        display: block;
        color: #343a40;
    }

    .item1,
    .item2 {
        width: 100%;
        flex-basis: 100%;

    }

}

.table th {
    background-color: #343a40;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.btn-link {
    color: #007bff;
    font-size: 1.2em;
    text-decoration: none;
    align-self: flex-start;
}

.btn-link:hover {
    text-decoration: none;
    color: #0056b3;
}

/*.card-body {
    background-color: #e9ecef;
    border-left: 3px solid #007bff;
    padding: 10px;
    font-size: 0.95em;
}
*/
.collapse {
    margin-top: 5px;
    transition: height 0.3s ease-out, opacity 0.3s ease-out;
}


#staff-mobility-first tbody tr:nth-of-type(1) th {
    background-color: #ffd569;
    color: black;
}

#staff-mobility-first tbody tr:nth-of-type(2) th {
    background-color: #f48ee3;
    color: black;
}

#staff-mobility-first tbody tr:nth-of-type(3) th {
    background-color: #9aadff;
    color: black;
}

#staff-mobility-first tbody tr:nth-of-type(4) th {
    background-color: #b6b4b4;
    color: black;
}

#staff-mobility-first tbody tr:nth-of-type(5) th {
    background: linear-gradient(0deg, rgb(241, 195, 151) 10%, rgb(155, 236, 94) 100%);
    background-attachment: fixed;
    color: black;
}

table .first-column {
    background-color: #fdf9b4;
    color: black;
    /*height: 120px;
     Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

table .second-column {
    background-color: #ffc7ea;
    color: black;
    /*height: 320px;
     Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

table .third-column {
    background-color: #bfd7ed;
    color: black;
    vertical-align: middle;
}

table .none-column {
    background-color: #efefef;
    color: black;
    vertical-align: middle;
}

table .fourth-column {
    background-color: #cdf2b0;
    color: black;
    /* height: 350px;
    Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

table .fifth-column {
    background-color: #ffd8b5;
    color: black;
    /*  height: 350px;
     Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

table .kiegeszitok {
    vertical-align: middle;
    /* Ha a szöveg mindig felül legyen */
}

#task1 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #f1b418;
    padding: 10px;
    font-size: 0.95em;
}

#task2 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #f1b418;
    padding: 10px;
    font-size: 0.95em;
}

#task3 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #94137e;
    padding: 10px;
    font-size: 0.95em;
}

#task4 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #94137e;
    padding: 10px;
    font-size: 0.95em;
}

#task5 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #94137e;
    padding: 10px;
    font-size: 0.95em;
}

#task6 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #457a1c;
    padding: 10px;
    font-size: 0.95em;
}

#task7 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #457a1c;
    padding: 10px;
    font-size: 0.95em;
}

#task8 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #f59a4a;
    padding: 10px;
    font-size: 0.95em;
}

#task9 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #f59a4a;
    padding: 10px;
    font-size: 0.95em;
}


#staff-mobility-second tbody th {
    background-color: #bebcbc;
    color: black;
}

table .second-table-first-column {
    background-color: #000000;
    color: lightgrey;
    /*height: 120px;
     Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

table .second-table-second-column {
    background-color: lightgrey;
    color: black;
    /*height: 120px;
     Állítsd be a megfelelő értéket */
    vertical-align: top;
    /* Ha a szöveg mindig felül legyen */
}

/* .doclinks {
    color: rgb(157, 4, 4);
    font-size: 1.2em;
    align-self: flex-start;
}

.doclinks:hover {
    text-decoration: none;
    color: #17225b;
} */

#task9 .card-body {
    background-color: #e9ecef;
    border-left: 3px solid #94137e;
    padding: 10px;
    font-size: 0.95em;
}

.harmadik {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
    justify-content: space-between;

}

.item1,
.item2 {
    width: 48%;
    /* Két oszlopba rendezi az elemeket */
}

.harmadik .item1,
.harmadik .item2 {
    display: flex;
    flex-direction: column;
    background-color: #adb9f2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 18px rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;

}

.harmadik .item2 {
    background-color: #f5c7ee;
}

span.harmadik-gomb {
    margin-top: 1em;
    font-size: 1em;
    background-color: #5e79ef;
    color: white;
    font-weight: bold;
    text-align: left;
    width: 80%;
    border: 3px solid #3a4da0;
    border-radius: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    align-self: center;
}

span.harmadik-gomb2 {
    margin-top: 1em;
    font-size: 1em;
    background-color: #af3f9c;
    color: white;
    font-weight: bold;
    text-align: left;
    width: 80%;
    border: 3px solid #591b4f;
    border-radius: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    align-self: center;
}